<!DOCTYPE html>
<html lang="en" ng-app="tdmodule">

	<head>
		<meta charset="utf-8"/>
		<title>To-Do List</title>
		<script src="Assets/js/angular.min.js"></script>
		<script type="text/javascript" src="Controllers/todo_list_module.js"></script>
		<link rel="stylesheet" type="text/css" href="Assets/style/style.css">
	</head>

	<body ng-controller="tdcontroller">

		<div id="taskColumn">						
			<h4>Task</h4>
			<form name="taskForm" id="taskForm" novalidate>
				<p>Title*: <input type="text" name="title" ng-model="task.title" required></p>
				<p>Date*: <input type="date" name = "date" ng-model="task.date" required></p>
				<p>Hour*: <input type="time" name="hour" ng-model="task.hour" required></p>
				<p>Status*: 
					<select name="status" ng-model="task.status" required>
						 <option value="To-Do">To-Do</option>
						 <option value="Done">Done</option>
					</select>
				<p>Description*: </p>
				<textarea name="description" cols="60" rows="10" ng-model="task.description" required></textarea>
				<br>
				<button ng-click="createTask()" ng-if="createmode">Create</button>
				<button ng-click="saveEdit()" ng-if="editmode">Save</button>
			</form>

		</div>

		<div id="toDoColumn" class="teste">
			<h4>To-Do</h4>
			<div ng-repeat="t in tasks | filter: { status: 'To-Do' }">
				<div class='card' id="{{t.id}}">
					<button ng-click="editSelected()" class = "edit">edit</button>
					<button ng-click="remove()" class="remove">x</button>
					<h4> {{t.title}}</h4>
					<p>{{t.description}}</p>
					<span>
						<p>{{t.date}}</p>
						<p>{{t.hour}}</p>
					</span>

				</div>
			</div>
		</div>

		<div id="doneColumn">
			<h4>Done</h4>
			<div ng-repeat="t in tasks | filter: { status: 'Done' }">
				<div class='card' id="{{t.id}}">
					<button ng-click="editSelected()" class = "edit">edit</button>
					<button ng-click="remove()" class="remove">x</button>
					<h4> {{t.title}}</h4>
					<p>{{t.description}}</p>
					<span>
						<p>{{t.date}}</p>
						<p>{{t.hour}}</p>
					</span>
				</div>
			</div>
		</div>

	</body>

</html>